body {
    font-family: 'Montserrat', sans-serif;
}

a,
h2,
h3,
button {
    font-family: inherit;
}

.section-one {
    background-image: url(../image/Sections\ background/section-1.jpg);
    background-attachment: fixed;
    padding-bottom: 240px;
}

.section-one .top-menu {
    padding: 26px 0;
    width: 100%;
    background: rgba(94, 93, 88, 0.6);
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.top-menu .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.top-menu .logo .logo-simbol {
    background: url(../image/header/Polygon\ 1\ 1.svg);
    height: 67px;
    width: 58px;
    text-align: center;
    font-weight: bold;
    line-height: 67px;
    font-size: 40px;
    color: #FFF;
}

.top-menu .logo .logo-text {
    padding-left: 8px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    align-self: center;
}

.top-menu .logo .logo-text .colored {
    font-weight: bold;
}

.colored {
    color: #18CFAB;
}

.top-menu .header-nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 21px;
    width: 615px;
    white-space: nowrap;

}

.top-menu .header-nav .header-nav-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.top-menu .header-nav .header-nav-item:hover::after {
    position: absolute;
    bottom: -48px;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
    background-color: #18cfab;
}

.top-menu .header-nav .header-nav-item a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 60%;
}

.top-menu .header-nav .header-nav-item a:hover {
    color: #18cfab;
    opacity: 100%;
}

.header-nav-item .search {
    width: 21px;
    color: #FFFFFF;
}

.section-one-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one-main .first-paragr {
    margin-top: 313px;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
}

.section-one-main .second-paragr {
    margin-top: 22px;
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
}

.section-one-main .third-paragr {
    margin-top: 22px;
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.section-one-main .btn-block {
    margin-top: 129px;
    width: 364px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 0px -4px white;
}

.green {
    background-color: #18cfab;
}

.btn-block .blue {
    background-color: #00CBF6;
}

.section-one-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 377px;
    align-items: center;
}

.section-one-bottom .bottom-cell {
    height: 361px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.section-one-bottom .grey {
    background-color: #1C2A33;
}

.section-one-bottom .green {
    background-color: #18CFAB;
}

.section-one-bottom .section-one-image {
    height: 78px;
}

.section-one-bottom .logo-text {
    font-weight: 700;
    font-size: 20px;
}

.section-one-bottom .green-text {
    margin-top: 58px;
    color: #18CFAB;
}

.section-one-bottom .white-text {
    margin-top: 48px;
    color: #FFFFFF;
}

.section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.title {
    margin: 83px 0 100px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    position: relative;
}

.title::after {
    content: " ";
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-56%);
}

.title::before {
    content: " ";
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-44%);
}

.our-services .service-menu {
    width: 1160px;
    color: #717171;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 0 20px;
}


.our-services .service-menu .service-item {
    height: 76px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.our-services .service-menu .service-item:hover {
    border: 1.5px solid #18CFAB;
}

.service-menu .service-item .service-link {
    text-decoration: none;
    color: inherit;
}

.our-services .service-menu .active {
    color: #FFFFFF;
    background-color: #18CFAB;
}

.service-menu .active::after {
    position: absolute;
    content: "";
    bottom: -12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid #18CFAB;
    left: 50%;
    transform: translateX(-50%);
}

.our-services .service-content li {
    margin: 23px 0 0;
    width: 1160px;
    display: flex;
}

.our-services .service-content li>img {
    width: 192px;
    height: 139px;
}

.our-services .service-content li>p {
    margin-left: 15px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}

.services-footer {
    padding: 127px 0;
    background-image: url(../image/Sections\ background/section-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.services-footer:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.services-footer .footer-title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #18CFAB;
    position: relative;
    z-index: 2;
}

.services-footer p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    white-space: nowrap;
    position: relative;
    z-index: 2;
}

.btn-block {
    margin-top: 67px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.our-amazing-work {
    background-color: #E9EDEF;
}

.our-amazing-work .work-menu {
    color: #717171;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
}

.our-amazing-work .amazing-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.work-menu .work-item {
    font-family: 'Montserrat';
    padding: 0 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.work-menu .work-item.active {
    border: 2px solid #18CFAB;
}

.our-amazing-work .image-block {
    margin: 70px auto 0;
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image-block .image-block-item {
    width: 285px;
    height: 210px;
    box-sizing: border-box;
    position: relative;

}

.image-block-item .imgBackground {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 0;
}

.image-block-item:hover .imgBackground {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.imgBackground .image-back-logo {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.imgBackground .chain {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #18CFAB;
    position: relative;
}

.chain .chain-image {
    width: 12px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-back-logo .round {
    margin-left: 2px;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background: #18CFAB;
    position: relative;
}

.round .square {
    position: absolute;
    width: 12px;
    height: 11px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;

}

.imgBackground .background-title {
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    color: #18CFAB;
}

.imgBackground .background-text {
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;
}

.image-block .image-block-item:hover {
    border-top: 2px solid #18CFAB;
}

.our-amazing-work .image-block .main-image {
    width: 285px;
    height: 210px;
    object-fit: fill;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}


.our-amazing-work .btn-block .load-button {
    margin-top: 70px;
}

.breaking-news {
    background-color: #FFFFFF;
}

.news-items {
    max-width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 45px 35px;
}

.news-items a {
    text-decoration: none;
    position: relative;
}

.news-items .news-img {
    width: 263px;
    height: 208px;

}

.news-items .data {
    width: 70px;
    height: 68px;
    background: #203E38;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.news-items a:hover>.data {
    background-color: #18CFAB;
}

.news-items .data p {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.news-items .news-title {
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.news-items a:hover>.news-title {
    color: #18CFAB;
}

.news-items .comment {
    margin-left: 4px;
    padding-left: 11px;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    position: relative;
    top: -10px;
}

.about {
    background-image: url(../image/Sections\ background/section-3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about .title {
    color: #FFFFFF;
}

.about .about-simbol {
    width: 47px;
    height: 33px;
    padding-bottom: 36px;
}

.carousel-info .item-info {
    display: none;
}

.carousel-info>li {
    transition: all 2s ease;
}

.carousel-info .active {
    display: contents;

}

.about .about-person {
    max-width: 1200px;
    padding: 0 20px 37px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}

.about .name-prof {
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    text-transform: uppercase;
    color: #BBBBBB;
    text-align: center;
}

.about .name-prof::first-line {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}

.about .show-person {
    border: 10px solid rgba(31, 218, 181, 0.2);
    width: 142px;
    height: 142px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.7s ease;
}

.carousel {
    padding: 50px 0;
    width: 485px;
    position: relative;
}

.carousel .show-person-small {
    border: 5px solid rgba(31, 218, 181, 0.2);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.carousel .carousel-arrow {
    position: absolute;
    top: 80px;
    padding: 0;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    display: block;
}

.carousel .carousel-arrow:focus {
    outline: none;
}

.carousel .carousel-arrow:hover {
    background-color: #18CFAB;
}

.carousel .back {
    left: 0;
}

.carousel .back::before {
    content: "";
    width: 8px;
    height: 8px;
    border: solid #fff;
    border-width: 2px 0 0 2px;
    transform: translate(-50%, -50%) rotate(-45deg);
    position: absolute;
    left: 20px;
    top: 16px;
}

.carousel .forward {
    right: 0;
}

.carousel .forward::before {
    content: "";
    width: 8px;
    height: 8px;
    border: solid #fff;
    border-width: 2px 0 0 2px;
    transform: translate(-50%, -50%) rotate(135deg);
    position: absolute;
    left: 14px;
    top: 16px;
}

.carousel .carousel-item {
    width: 380px;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-item ul {
    height: 70px;
    width: 9999px;
    margin: 0;
    padding-top: 10px;
    list-style: none;
    transition: margin-left 600ms;
    font-size: 0;
}

.carousel-item li {
    display: inline-block;
    margin: 0 12px;
    position: relative;
    transition: all 300ms ease-in;
}


.carousel-item li:hover {
    transform: translateY(-10px);
}

.clock-loader {
    --clock-color: #1FDAB5;
    --clock-width: 4rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--clock-width);
    height: var(--clock-width);
    border: 3px solid var(--clock-color);
    border-radius: 50%;
}

.clock-loader::before,
.clock-loader::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
}

.clock-loader::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
}

.clock-loader::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.footer {
    padding: 50px 0;
    background-color: #22353F;
}

.footer .footer-text {
    color: #AEAEAE;
    text-align: center;
}