#root {
    padding: 25px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border: 2px solid rgb(65, 57, 183);
}

.findIP {
    padding: 5px 10px;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 2px solid rgb(65, 57, 183);
    border-radius: 5px;

}