body {
    font-family: sans-serif;
}

 li {
    position: relative;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #000;
}
/*
h4, span {
    color: #c1c1c18a;
}

h3, p {
    color: #ffffffcc;
} */

.userName {
    font-size: 14px;
    color: #ffffffcc;
}
.userNikName {
    font-size: 14px;
    padding: 0 5px;
    color: #c1c1c18a;
}

.userEmail {
    font-size: 14px;
    color: rgb(105, 114, 197);
}
.postTitle {
    font-size: 16px;
    color: #c1c1c18a;
}
.postText {
    font-size: 13px;
    color: #ffffffcc;
}
.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}