.footer {
    margin: 0 auto;
    background: #000000;
}

.footer__title {
    padding-top: 66px;
    text-align: center;
    @include text-style-700;
    line-height: 22px;
    text-transform: uppercase;
    color: #FEFEFE;
}

.footer__text {
    margin: 22px auto 0;
    max-width: 684px;
    @include text-style-400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #B9B9B9;
}

.footer__socials {
    margin: 37px auto 0;
    max-width: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--item {}

    &--link {}

    &--image {
        width: 34px;
        height: 34px;
    }
}

.footer__contact {
    margin: 34px auto 0;
    padding-bottom: 70px;
    @include text-style-400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #B9B9B9;
}