.header {
    max-width: 1200px;
    margin: 15px auto;
}

.nav__list {
    max-width: 1200px;
    margin: 29px 0 34px;
    padding: 16px 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.nav__item {
    @include text-style-400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: #4E4E4E;

    &:hover {
        color: #57A4A4;
    }
}

.header--intro {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 940px) {
    .nav__list {
        margin: 23px 0 28px;
        padding: 16px 86px;
    }
}

@media (max-width: 640px) {
    .nav__list {
        display: none;
    }
    // .hamburger-menu {
    //     display: "";
    // }

}

.hamburger-menu {
    position: absolute;
}

#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 182px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: #F5F5F5;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    @include text-style-400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item:hover {
    background: #E5E5E5;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}