.instagr {
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.03);
}

.instagr__title {
    @include instagr-style;
    padding: 47px 0 24px;


    &--left,
    &--right {
        color: #4E4E4E;
        text-transform: uppercase;
    }
}

.instagr__image {
    @include instagr-style;
    padding-bottom: 49px;
     &--item {
        width: 285px;
        height: 285px;
     }
}