@mixin text-style-400 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@mixin text-style-700 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

@mixin instagr-style {
    max-width: $instagr-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}