.postsect {
    max-width: 1170px;
    margin: 69px auto;
}

.postsect--title {
    margin-bottom: 29px;
    @include text-style-700;
    line-height: 22px;
    text-transform: uppercase;
}

.postsect__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px 55px;
}

.postsect__item {
    display: grid;
    grid-template-columns: 160px 1fr;
    column-gap: 20px;
    grid-template-areas: "image title"
        "image comment"
        "image text";

    &--image {
        width: 160px;
        grid-area: image;
    }

    &--title {
        @include text-style-700;
        line-height: 30px;
        color: #4E4E4E;
        grid-area: title;
    }

    &--comment {
        @include text-style-400;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
        grid-area: comment;
    }

    &--text {
        @include text-style-400;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        grid-area: text;
    }
}