@import "reset";
@import "variables";
@import "mixins";
body {
    font-family: 'Roboto', sans-serif;
}

// .container {
//     max-width: 1200px;
//     margin: 0 auto;
// }
@import "header";
@import "postsect";
@import "instagr";
@import "footer";